{% extends 'masterpage.html' %}

{% block title %}
{{ user.getName() }}'s Friends
{% endblock %}

{% block titleheader %}
Friends
{% endblock %}

{% block profilecover %}
	{% include 'profilecover.html' %}
{% endblock %}

{% block container %}
<!-- Friends -->
<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block responsive-flex">
				<div class="ui-block-title">
					<div class="h6 title">{{ user.getName() }}’s Friends</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		{% if friends.length %}
		{% for friend in friends %}
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
			<div class="ui-block">
				<!-- Friend Item -->
				<div class="friend-item">
					<div class="friend-header-thumb">
						<div alt="friend" style="
							width: 245.5px;
							height: 94.17px;
							background: url('{{ friend.getFriendCover() }}') no-repeat;
							background-size: cover;
							background-position: center;
						"></div>
					</div>
				
					<div class="friend-item-content">
						<div class="friend-avatar">
							<div class="author-thumb">
								<div alt="friend" style="
									width: 98px;
									height: 98px;
									border-radius: 100%;
									background: url('{{ friend.getFriendAvatar() }}') no-repeat;
									background-size: cover;
									background-position: center;
								"></div>
							</div>
							<div class="author-content">
								<a href="profile?id={{ friend.getFriendId() }}" class="h5 author-name">{{ friend.getFollowerName() }}</a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- ... end Friend Item -->
			</div>
		</div>
		{% endfor %}
		{% else %}
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				{% if ctx.session.loggedInUserId == ctx.query.id %}
				<h4 style="text-align:center; padding: 10%;">You have no friends.</h4>
				{% else %}
				<h4 style="text-align:center; padding: 10%;">{{ user.getName() }}'s has no friends.</h4>
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div>
</div>

<!-- ... end Friends -->
{% endblock %}