{% extends 'masterpage.html' %}

{% block title %}
Share
{% endblock %}

{% block titleheader %}
Share
{% endblock %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12"></div>
        <div class="col col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">

                <article class="hentry post">
                    <div class="post__author author vcard inline-items">
                        <img src="{{ ctx.profile.getUserAvatar() }}" alt="author">
                        <div class="author-date">
                            <a class="h6 post__author-name fn" href="/profile?id=1">{{ ctx.profile.getPresentationName()}} <img src="http://azizanosman.com/imkk-mei2015/images/icon/facebook-verified-check-mark.png" style="width: 15px;height: auto;padding-bottom: 2%;"></a>
                        </div>
                    </div>

                    <form class="form-group with-icon-right is-empty" action="/share?id={{ post.getPostId() }}" method="POST">
                        <textarea class="form-control" required="" name="content"></textarea>

                        <article class="hentry post" style="border-bottom:none;">
                            <div class="post__author author vcard inline-items">
                                <img src="{{ post.getUserAvatar() }}" alt="author">
                                <div class="author-date">
                                    <a class="h6 post__author-name fn" href="/profile?id={{ post.getUserId() }}">{{ post.getUserPresentationName()}} <img src="http://azizanosman.com/imkk-mei2015/images/icon/facebook-verified-check-mark.png" style="width: 15px;height: auto;padding-bottom: 2%;"></a>
                                    <div class="post__date">
                                        <time class="published">
											{{ post.getPostTime() }}
                                        </time>
                                    </div>
                                </div>
                            </div>
                            <p>
								{{ post.getContent() }}
                            </p>
							{% if post.getPostMedia() %}
							<div class="post-block-photo js-zoom-gallery">
								{% for media in post.getPostMedia() %}
									{% if post.getPostMedia().length == 1 %}
										{% if (media.getFiletype() == 'image/jpg') or (media.getFiletype() == 'image/png')  or (media.getFiletype() == 'image/jpeg')  %}
										<a href="{{ media.getFilename() }}" class="col col-1-width">
											<div style="							
											width: 100%;
											height: 500px;
											background: url('{{ media.getFilename() }}') no-repeat;
											background-size: cover;
											background-position: center;">
											</div>
										</a>
										{% endif %}
		
										{% if media.getFiletype() == 'video/mp4' %}
										<video style="width: 100%; height: auto;" controls="">
											<source src="{{ media.getFilename() }}" type="video/mp4">
										</video>
										{% endif %}
									{% endif %}
		
									{% if post.getPostMedia().length == 2 %}
										{% if (media.getFiletype() == 'image/jpg') or (media.getFiletype() == 'image/png')  or (media.getFiletype() == 'image/jpeg')  %}
										<a href="{{ media.getFilename() }}" class="half-width">
											<div style="							
											width: 100%;
											height: 400px;
											background: url('{{ media.getFilename() }}') no-repeat;
											background-size: cover;
											background-position: center;">
											</div>
										</a>
										{% endif %}
		
										{% if media.getFiletype() == 'video/mp4' %}
										<div href="{{ media.getFilename() }}" class="half-width" style="float: left; overflow: hidden; padding: 0 8px 8px 0;"></a>
											<video style="width: 100%; height: 400px;" controls="">
												<source src="{{ media.getFilename() }}" type="video/mp4">
											</video>
										</div>
										{% endif %}
									{% endif %}
		
									{% if post.getPostMedia().length == 3 %}
										{% if loop.index0 < 2 %}  
											{% if (media.getFiletype() == 'image/jpg') or (media.getFiletype() == 'image/png')  or (media.getFiletype() == 'image/jpeg')  %}
											<a href="{{ media.getFilename() }}" class="half-width">
												<div style="							
												width: 100%;
												height: 275px;
												background: url('{{ media.getFilename() }}') no-repeat;
												background-size: cover;
												background-position: center;">
												</div>
											</a>
											{% endif %}
		
											{% if media.getFiletype() == 'video/mp4' %}
											<div href="{{ media.getFilename() }}" class="half-width" style="float: left; overflow: hidden; padding: 0 8px 8px 0;"></a>
												<video style="width: 100%; height: 275px;" controls="">
													<source src="{{ media.getFilename() }}" type="video/mp4">
												</video>
											</div>
											{% endif %}
		
										{% endif %}
		
										{% if loop.index0 == 2 %} 
											{% if (media.getFiletype() == 'image/jpg') or (media.getFiletype() == 'image/png')  or (media.getFiletype() == 'image/jpeg')  %}
											<a href="{{ media.getFilename() }}" class="col col-1-width">
												<div style="							
												width: 100%;
												height: 275px;
												background: url('{{ media.getFilename() }}') no-repeat;
												background-size: cover;
												background-position: center;">
												</div>
											</a>
											{% endif %}
		
											{% if media.getFiletype() == 'video/mp4' %}
											<div href="{{ media.getFilename() }}" class="col col-1-width" style="float: left; overflow: hidden; padding: 0 8px 8px 0;"></a>
												<video style="width: 100%; height: 275px;" controls="">
													<source src="{{ media.getFilename() }}" type="video/mp4">
												</video>
											</div>
											{% endif %}
										{% endif %}
									{% endif %}
		
									{% if post.getPostMedia().length == 4 %}
										{% if (media.getFiletype() == 'image/jpg') or (media.getFiletype() == 'image/png')  or (media.getFiletype() == 'image/jpeg')  %}
										<a href="{{ media.getFilename() }}" class="half-width">
											<div style="							
											width: 100%;
											height: 275px;
											background: url('{{ media.getFilename() }}') no-repeat;
											background-size: cover;
											background-position: center;">
											</div>
										</a>
										{% endif %}
		
										{% if media.getFiletype() == 'video/mp4' %}
										<div href="{{ media.getFilename() }}" class="half-width" style="float: left; overflow: hidden; padding: 0 8px 8px 0;"></a>
											<video style="width: 100%; height: 275px;" controls="">
												<source src="{{ media.getFilename() }}" type="video/mp4">
											</video>
										</div>
										{% endif %}
									{% endif %}
		
									{% if post.getPostMedia().length  > 4 %}
										{% if loop.index0 < 3 %}    
											{% if (media.getFiletype() == 'image/jpg') or (media.getFiletype() == 'image/png')  or (media.getFiletype() == 'image/jpeg') %}
											<a href="{{ media.getFilename() }}" class="half-width">
												<div style="							
												width: 100%;
												height: 276px;
												background: url('{{ media.getFilename() }}') no-repeat;
												background-size: cover;
												background-position: center;">
												</div>
											</a>
											{% endif %}
		
											{% if media.getFiletype() == 'video/mp4' %}
											<video style="width: 100%; height: auto;" controls="">
												<source src="{{ media.getFilename() }}" type="video/mp4">
											</video>
											{% endif %}
										{% endif %}
		
										{% if loop.index0 == 3 %}    
											{% if (media.getFiletype() == 'image/jpg') or (media.getFiletype() == 'image/png')  or (media.getFiletype() == 'image/jpeg')  %}
											<a href="{{ media.getFilename() }}" class="more-photos half-width">
												<div style="							
												width: 100%;
												height: 276px;
												background: url('{{ media.getFilename() }}') no-repeat;
												background-size: cover;
												background-position: center;">
												</div>
												<span class="h2">+{{ post.getPostMedia().length - 4 }}</span>
											</a>
											{% endif %}
		
											{% if media.getFiletype() == 'video/mp4' %}
											<video style="width: 100%; height: 276px;" controls="" class="more-photos half-width">
												<source src="{{ media.getFilename() }}" type="video/mp4">
											</video>
											<span class="h2">+{{ post.getPostMedia().length - 4 }}</span>
											{% endif %}
											
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
							{% endif %}
                        </article>

                        <div style="position: relative; padding-bottom: 25px;">
                            <button class="btn btn-md-2 btn-primary" style="position: absolute; right: 0%;" type="submit">Post Share</button>
                        </div>
                        <span class="material-input"></span></form>
                </article>
            </div>

        </div>
    </div>
</div>
{% endblock %}