{% extends 'masterpage.html' %}

{% block title %}
{{ user.getName() }}'s Profile
{% endblock %}

{% block titleheader %}
Profile
{% endblock %}

{% block profilecover %}
	{% include 'profilecover.html' %}
{% endblock %}

{% block container %}

<!-- Container-2 -->
<div class="container">
		<div class="row">
	
			<!-- Left Sidebar -->
	
			<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">
				<div class="ui-block">
					<div class="ui-block-title">
						<h6 class="title">Friends ({{ friends.length }})</h6>
					</div>
					<div class="ui-block-content">
	
						<!-- W-Faved-Page -->
	
						<ul class="widget w-faved-page">
							{% for friend in friends %}
							<li>
								<a href="/profile?id={{ friend.getFriendId() }}" title="{{ friend.getFollowerName() }}">
									<div style="							
									width: 100%;
									height: 34px;
									background: url('{{ friend.getFriendAvatar() }}') no-repeat;
									background-size: cover;
									background-position: center;
								" alt="author"></div>
								</a>
							</li>
							{% endfor %}
							{% if friends.length > 14 %}
							<li class="all-users">
								<a href="#">+{{ friends.length - 14 }}</a>
							</li>
							{% endif %}
						</ul>
	
						<!-- .. end W-Faved-Page -->
					</div>
				</div>
			</div>
	
			<!-- ... end Left Sidebar -->



			<!-- Right Sidebar -->
	
			<div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
	
				<div class="ui-block">
					<div class="ui-block-title">
						<h6 class="title">Last Photos</h6>
					</div>
					<div class="ui-block-content">
	
						<!-- W-Latest-Photo -->
	
						<ul class="widget w-last-photo js-zoom-gallery">
							{% for photo in lastPhotos %}
							<li>
								<a href="{{ photo.getFilename() }}">
									<div style="							
									width: 100%;
									height: 78px;
									background: url('{{ photo.getFilename() }}') no-repeat;
									background-size: cover;
									background-position: center;
								" alt="photo"></div>
								</a>
							</li>
							{% endfor %}
						</ul>
	
						<!-- .. end W-Latest-Photo -->
					</div>
				</div>
			</div>
	
			<!-- ... end Right Sidebar -->
			
			<!-- Main Content -->
	
			<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
				{% if posts %}  
				<div id="newsfeed-items-grid">
					{% for post in posts %}
					<div class="ui-block">
						<!-- Post -->
						<article class="hentry post">
							<div class="post__author author vcard inline-items">
								<!-- <img src="{{ user.getUserAvatar() }}" alt="author"> -->

								<div style="
										border-radius: 50%;
    									width: 40px;			
										height: 40px;
										background: url('{{ user.getUserAvatar() }}') no-repeat;
										background-size: cover;
										background-position: center;">
										</div>

								<div class="author-date">
									<a class="h6 post__author-name fn" href="/profile?id={{ post.getUserId() }}">{{ user.getPresentationName()}} <img src="http://azizanosman.com/imkk-mei2015/images/icon/facebook-verified-check-mark.png" style="width: 15px;height: auto;padding-bottom: 2%;"></a>
									<div class="post__date">
										<a href="/post?id={{ post.getPostId() }}" style="color: #9697a1;"><time class="published" title="{{ post.getRawPostTime() }}">
											{{ post.getPostTime() }}
										</time></a>
									</div>
								</div>
								{% if user.getUserId() == ctx.profile.getUserId() %}	
								<div class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
									</svg>
									<ul class="more-dropdown">
										<li>
											<a href="/post?id={{ post.getPostId() }}&ref_page=editpost">Edit Post</a>
										</li>
										<li>
											<a href="/deletePost?id={{ post.getPostId() }}">Delete Post</a>
										</li>
									</ul>
								</div>
								{% endif %}
							</div>
							<p style="word-break: break-all;">
								{{ post.getContent() }}
							</p>
							{% if post.getPostMedia() %}
							<div class="post-block-photo js-zoom-gallery">
								{% for media in post.getPostMedia() %}
									{% if post.getPostMedia().length == 1 %}
									{% if (media[1] == 'image/jpg') or (media[1] == 'image/png')  or (media[1] == 'image/jpeg')  %}
									<a href="/uploadedFiles/{{ media[0] }}" class="col col-1-width">
										<div style="							
										width: 100%;
										height: 566px;
										background: url('/uploadedFiles/{{ media[0] }}') no-repeat;
										background-size: cover;
										background-position: center;">
										</div>
									</a>
									{% endif %}
									{% if media[1] == 'video/mp4' %}
									<video style="width: 100%; height: auto;" controls="">
										<source src="/uploadedFiles/{{ media[0] }}" type="video/mp4">
									</video>
									{% endif %}
									{% endif %}
									{% if post.getPostMedia().length == 2 %}
									{% if (media[1] == 'image/jpg') or (media[1] == 'image/png')  or (media[1] == 'image/jpeg')  %}
									<a href="/uploadedFiles/{{ media[0] }}" class="half-width">
										<div style="							
										width: 100%;
										height: 566px;
										background: url('/uploadedFiles/{{ media[0] }}') no-repeat;
										background-size: cover;
										background-position: center;">
										</div>
									</a>
									{% endif %}
									{% if media[1] == 'video/mp4' %}
									<video style="width: 100%; height: auto;" controls="">
										<source src="/uploadedFiles/{{ media[0] }}" type="video/mp4">
									</video>
									{% endif %}
									{% endif %}
									{% if post.getPostMedia().length == 3 %}
									{% if loop.index0 < 2 %}  
									{% if (media[1] == 'image/jpg') or (media[1] == 'image/png')  or (media[1] == 'image/jpeg')  %}
									<a href="/uploadedFiles/{{ media[0] }}" class="half-width">
										<div style="							
										width: 100%;
										height: 276px;
										background: url('/uploadedFiles/{{ media[0] }}') no-repeat;
										background-size: cover;
										background-position: center;">
										</div>
									</a>
									{% endif %}
									{% if media[1] == 'video/mp4' %}
									<video style="width: 100%; height: auto;" controls="">
										<source src="/uploadedFiles/{{ media[0] }}" type="video/mp4">
									</video>
									{% endif %}
									{% endif %}
									{% if loop.index0 == 2 %} 
									{% if (media[1] == 'image/jpg') or (media[1] == 'image/png')  or (media[1] == 'image/jpeg')  %}
									<a href="/uploadedFiles/{{ media[0] }}" class="half-width">
										<div style="							
										width: 100%;
										height: 276px;
										background: url('/uploadedFiles/{{ media[0] }}') no-repeat;
										background-size: cover;
										background-position: center;">
										</div>
									</a>
									{% endif %}
									{% if media[1] == 'video/mp4' %}
									<video style="width: 100%; height: auto;" controls="">
										<source src="/uploadedFiles/{{ media[0] }}" type="video/mp4">
									</video>
									{% endif %}
									{% endif %}
									{% endif %}
									{% if post.getPostMedia().length == 4 %}
									{% if media[1] == 'video/mp4' %}
									<video style="width: 100%; height: auto;" controls="">
										<source src="/uploadedFiles/{{ media[0] }}" type="video/mp4">
									</video>
									{% endif %}
									{% if (media[1] == 'image/jpg') or (media[1] == 'image/png')  or (media[1] == 'image/jpeg')  %}
									<a href="/uploadedFiles/{{ media[0] }}" class="col col-1-width">
										<div style="							
										width: 100%;
										height: 276px;
										background: url('/uploadedFiles/{{ media[0] }}') no-repeat;
										background-size: cover;
										background-position: center;">
										</div>
									</a>
									{% endif %}								
									{% endif %}
									{% if post.getPostMedia().length  > 4 %}
									{% if loop.index0 < 3 %}    
									{% if (media[1] == 'image/jpg') or (media[1] == 'image/png')  or (media[1] == 'image/jpeg') %}
									<a href="/uploadedFiles/{{ media[0] }}" class="half-width">
										<div style="							
										width: 100%;
										height: 276px;
										background: url('/uploadedFiles/{{ media[0] }}') no-repeat;
										background-size: cover;
										background-position: center;">
										</div>
									</a>
									{% endif %}
									{% if media[1] == 'video/mp4' %}
									<video style="width: 100%; height: auto;" controls="">
										<source src="/uploadedFiles/{{ media[0] }}" type="video/mp4">
									</video>
									{% endif %}
									{% endif %}
									{% if loop.index0 == 3 %}    
									{% if (media[1] == 'image/jpg') or (media[1] == 'image/png')  or (media[1] == 'image/jpeg')  %}
									<a href="/uploadedFiles/{{ media[0] }}" class="half-width">
										<div style="							
										width: 100%;
										height: 276px;
										background: url('/uploadedFiles/{{ media[0] }}') no-repeat;
										background-size: cover;
										background-position: center;">
										</div>
										<span class="h2">+{{ post.getPostMedia().length - 4 }}</span>
									</a>
									{% endif %}
									{% if media[1] == 'video/mp4' %}
									<video style="width: 100%; height: auto;" controls="">
										<source src="/uploadedFiles/{{ media[0] }}" type="video/mp4">
									</video>
									<span class="h2">+{{ post.getPostMedia().length - 4 }}</span>
									{% endif %}
									{% endif %}						
									{% endif %}
								{% endfor %}
							</div>
							{% endif %}
							{% if post.getPostShareId() %}
										<article class="hentry post">
											<div class="post__author author vcard inline-items">
												<div style="							
													width: 40px;
													height: 40px;
													background: url('{{ post.getOriginalPostAvatar() }}') no-repeat;
													background-size: cover;
													background-position: center;">
												</div>
										
												<div class="author-date">
													<a class="h6 post__author-name fn" href="/profile?id={{ post.getOriginalPostUserId() }}"> {{ post.getOriginalPostName() }} <img src="http://azizanosman.com/imkk-mei2015/images/icon/facebook-verified-check-mark.png" style="width: 15px;height: auto;padding-bottom: 2%;"></a>
													<div class="post__date">
														<a href="/post?id={{ post.getOriginalPostId() }}" style="color: #9697a1;">
															<time class="published" title="">
																{{ post.getOriginalPostTime() }}
															</time>
														</a>
													</div>
												</div>
											</div>
											<p>
												{{ post.getOriginalPostContent() }}
											</p>
										</article>
							{% endif%}

							<div class="post-additional-info inline-items">
								<a href="post?id={{ post.getPostId() }}&ref_page=like" class="post-add-icon inline-items" >
									<i class="fas fa-thumbs-up"></i>
									<span>{{ post.getLikeCount() }}</span>
								</a>
								<div class="comments-shared">
									<a href="/post?id={{ post.getPostId() }}" class="post-add-icon inline-items">
										<i class="fas fa-comments"></i>
										<span>{{ post.getCommentCount() }}</span>
									</a>
									{% if post.getPostShareId() %}
										<a href="/post?id={{ post.getOriginalPostId() }}&ref_page=share" class="post-add-icon inline-items">
										{% else %}
										<a href="/post?id={{ post.getPostId() }}&ref_page=share" class="post-add-icon inline-items">
									{% endif %}
										<i class="fas fa-share"></i>
										<span>{{ post.getShareCount() }}</span>
									</a>
								</div>
							</div>
						</article>
						<!-- .. end Post -->
					</div>
					{% endfor %} 
				</div>
				{% endif %}
				<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
					<i class="fa fa-chevron-down"></i>
				</a>
			</div>
	
			<!-- ... end Main Content -->
	
		</div>
	</div>
<!-- End-Container-2 -->
{% endblock %}