{% extends 'masterpage.html' %}

{% block title %}
{{ user.getName() }}'s About
{% endblock %}

{% block titleheader %}
About
{% endblock %}

{% block profilecover %}
	{% include 'profilecover.html' %}
{% endblock %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col col-xl-12 order-xl-1 col-lg-4 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Personal Info</h6>
                </div>
                <div class="ui-block-content">
                    <!-- W-Personal-Info -->
                    <ul class="widget w-personal-info">
                        <li>
                            <span class="title">Full Name:</span>
                            <span class="text">{{ ctx.profile.getPresentationName()}}</span>
                        </li>
                        <li>
                            <span class="title">Birthday:</span>
                            <span class="text">{{ ctx.profile.getBirthDate()}}</span>
                        </li>
                        <li>
                            <span class="title">Gender:</span>
                            <span class="text" style="text-transform: capitalize;">{{ ctx.profile.getGender() }}</span>
                        </li>
                        <li>
                            <span class="title">Address:</span>
                            <span class="text">{{ ctx.profile.getAddress() }}</span>
                        </li>
                        <li>
                            <span class="title">Relationship:</span>
                            <span class="text">
                                {% if (ctx.profile.getRelationship() == '1') %}Single
                                {% elseif (ctx.profile.getRelationship() == '2') %}In a relationship
                                {% elseif (ctx.profile.getRelationship() == '3') %}Engaged
                                {% elseif (ctx.profile.getRelationship() == '4') %}Married
                                {% elseif (ctx.profile.getRelationship() == '5') %}In a civil union
                                {% elseif (ctx.profile.getRelationship() == '6') %}In a domestic partnership
                                {% elseif (ctx.profile.getRelationship() == '7') %}In an open relationship
                                {% elseif (ctx.profile.getRelationship() == '8') %}It's complicated
                                {% elseif (ctx.profile.getRelationship() == '9') %}Separated
                                {% elseif (ctx.profile.getRelationship() == '10') %}Divorced
                                {% elseif (ctx.profile.getRelationship() == '11') %}Widowed
                                {% endif %}
                            </span>
                        </li>
                        <li>
                            <span class="title">Email:</span>
                            <a href="#" class="text">{{ ctx.profile.getEmail() }}</a>
                        </li>
                        <li>
                            <span class="title">Phone Number:</span>
                            <span class="text">{{ ctx.profile.getPhoneNumber() }}</span>
                        </li>
                    </ul>
                    <!-- ... end W-Personal-Info -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}