<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="img/logo.png">
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Main Font -->
    <script src="js/webfontloader.min.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">
    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.min.css">
</head>

<body>
    <!-- Fixed Sidebar Left -->
    <div class="fixed-sidebar">
        <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">
            <a href="/newsfeed" class="logo">
                <div class="img-wrap">
                    <img src="img/logo.png" alt="Dating Social Network">
                </div>
            </a>
        </div>
    </div>
    <!-- ... end Fixed Sidebar Left -->
    <!-- Header-BP -->
    <header class="header" id="site-header">
        <div class="page-title">
            <h6>{% block titleheader %}{% endblock %}</h6>
        </div>
        <div class="header-content-wrapper">
            <form class="search-bar w-search notification-list friend-requests">
                <div class="form-group with-button">
                    <input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
                    <button>
                        <svg class="olymp-magnifying-glass-icon">
                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
                        </svg>
                    </button>
                </div>
            </form>
            <a href="#" class="link-find-friend">Find Friends</a>
            <div class="control-block">
                <div class="control-icon more has-items">
                    <i class="fa fa-user"></i>
                    <div class="label-avatar bg-blue">{{ ctx.listFriendRequests.length }}</div>
                    <div class="more-dropdown more-with-triangle triangle-top-center">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">Friend Requests</h6>
                            <a href="#">Find Friends</a>
                            <a href="#">Settings</a>
                        </div>
                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <ul class="notification-list friend-requests">
                                {% for friendRequest in ctx.listFriendRequests %}
                                <li>
                                    <div class="author-thumb">
                                        <img src="https://html.crumina.net/html-olympus/img/avatar55-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">{{ friendRequest.getFollowerName() }}</a>
                                        <span class="chat-message-item">Mutual Friend: We're working on it</span>
                                    </div>
                                    <span class="notification-icon">
                                <a href="friend?id={{ friendRequest.getFriendId() }}&ref_page=friendAccept" class="accept-request">
                                    <span class="without-text">
                                        <i class="fas fa-user-plus"></i>
                                    </span>
                                    </a>
                                    <a href="friend?id={{ friendRequest.getFriendId() }}&ref_page=cancel" class="accept-request request-del">
                                        <span class="">
                                        <i class="fa fa-user-times"></i>
                                    </span>
                                    </a>
                                    </span>
                                    <div class="more">
                                        <svg class="olymp-three-dots-icon">
                                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                        </svg>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a href="/friend?id={{ ctx.profile.getUserId() }}&ref_page=requests" class="view-all bg-blue">Check all Requests</a>
                    </div>
                </div>
                <div class="control-icon more has-items">
                    <i class="fa fa-bell"></i>
                    <div class="label-avatar bg-primary">8</div>
                    <div class="more-dropdown more-with-triangle triangle-top-center">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">Notifications</h6>
                            <a href="#">Mark all as read</a>
                            <a href="#">Settings</a>
                        </div>
                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <ul class="notification-list">
                                <li>
                                    <div class="author-thumb">
                                        <img src="https://html.crumina.net/html-olympus/img/avatar62-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <div><a href="#" class="h6 notification-friend">Mathilda Brinker</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                    </div>
                                    <span class="notification-icon">
                                <svg class="olymp-comments-post-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                </svg>
                                </span>
                                    <div class="more">
                                        <svg class="olymp-three-dots-icon">
                                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                        </svg>
                                        <svg class="olymp-little-delete">
                                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                                        </svg>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="view-all bg-primary">View All Notifications</a>
                    </div>
                </div>
                <div class="author-page author vcard inline-items more">
                    <div class="author-thumb">
                        <img alt="author" src="https://html.crumina.net/html-olympus/img/author-page.jpg" class="avatar">
                        <span class="icon-status online"></span>
                        <div class="more-dropdown more-with-triangle">
                            <div class="mCustomScrollbar" data-mcs-theme="dark">
                                <div class="ui-block-title ui-block-title-small">
                                    <h6 class="title">Your Account</h6>
                                </div>
                                <ul class="account-settings">
                                    <li>
                                        <a href="/profile?id={{ ctx.profile.getUserId() }}">
                                            <i class="fa fa-user"></i>
                                            <span>Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/settings">
                                            <i class="fa fa-cog"></i>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/logout">
                                            <i class="fa fa-power-off"></i>
                                            <span>Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="/profile?id={{ ctx.profile.getUserId() }}" class="author-name fn">
                        <div class="author-title">
                            {{ ctx.profile.getName() }}
                            <svg class="olymp-dropdown-arrow-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use>
                            </svg>
                        </div>
                        <!-- <span class="author-subtitle">SPACE COWBOY</span> -->
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- ... end Header-BP -->
    <!-- Responsive Header-BP -->
    <div class="fixed-sidebar fixed-sidebar-responsive">
        <div class="fixed-sidebar-left sidebar--small">
            <a href="/newsfeed" class="logo">
                <div class="img-wrap">
                    <img src="img/logo.png" alt="Dating Social Network">
                </div>
            </a>
        </div>
    </div>
    <header class="header header-responsive" id="site-header-responsive">

        <div class="header-content-wrapper">
            <ul class="nav nav-tabs mobile-app-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#request" role="tab">
                        <div class="control-icon has-items">
                            <i class="fa fa-user"></i>
                            <div class="label-avatar bg-blue">{{ ctx.listFriendRequests.length }}</div>
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#notification" role="tab">
                        <div class="control-icon has-items">
                            <i class="fa fa-bell"></i>
                            <div class="label-avatar bg-primary">8</div>
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#search" role="tab">
                        <svg class="olymp-magnifying-glass-icon">
                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
                        </svg>
                        <svg class="olymp-close-icon">
                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content tab-content-responsive">

            <div class="tab-pane " id="request" role="tabpanel">

                <div class="mCustomScrollbar" data-mcs-theme="dark">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">FRIEND REQUESTS</h6>
                        <a href="#">Find Friends</a>
                        <a href="#">Settings</a>
                    </div>
                    <ul class="notification-list friend-requests">                        
                        {% for friendRequest in ctx.listFriendRequests %}
                        <li>
                            <div class="author-thumb">
                                <img src="https://html.crumina.net/html-olympus/img/avatar55-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">{{ friendRequest.getFollowerName() }}</a>
                                <span class="chat-message-item">Mutual Friend: plz wait </span>
                            </div>
                            <span class="notification-icon">
                                <a href="friend?id={{ friendRequest.getFriendId() }}&ref_page=friendAccept" class="accept-request">
                                    <span class="without-text">
                                        <i class="fas fa-user-plus"></i>
                                    </span>
                                </a>

                                <a href="friend?id={{ friendRequest.getFriendId() }}&ref_page=cancel" class="accept-request request-del">
                                    <span class="">
                                        <i class="fas fa-user-times"></i>
                                    </span>
                                </a>
                            </span>

                            <div class="more">
                                <svg class="olymp-three-dots-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                </svg>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <a href="/friend?id={{ ctx.profile.getUserId() }}&ref_page=requests" class="view-all bg-blue">Check all Request</a>
                </div>
            </div>

            <div class="tab-pane " id="chat" role="tabpanel">

                <div class="mCustomScrollbar" data-mcs-theme="dark">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Chat / Messages</h6>
                        <a href="#">Mark all as read</a>
                        <a href="#">Settings</a>
                    </div>

                    <ul class="notification-list chat-message">
                        <li class="message-unread">
                            <div class="author-thumb">
                                <img src="https://html.crumina.net/html-olympus/img/avatar59-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Diana Jameson</a>
                                <span class="chat-message-item">Hi James! It’s Diana, I just wanted to let you know that we have to reschedule...</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                            </div>
                            <span class="notification-icon">
                                            <svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                                        </span>
                            <div class="more">
                                <svg class="olymp-three-dots-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                </svg>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="https://html.crumina.net/html-olympus/img/avatar60-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Jake Parker</a>
                                <span class="chat-message-item">Great, I’ll see you tomorrow!.</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                            </div>
                            <span class="notification-icon">
                                            <svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                                        </span>

                            <div class="more">
                                <svg class="olymp-three-dots-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="author-thumb">
                                <img src="https://html.crumina.net/html-olympus/img/avatar61-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Elaine Dreyfuss</a>
                                <span class="chat-message-item">We’ll have to check that at the office and see if the client is on board with...</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 9:56pm</time></span>
                            </div>
                            <span class="notification-icon">
                                                <svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                                            </span>
                            <div class="more">
                                <svg class="olymp-three-dots-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                </svg>
                            </div>
                        </li>

                        <li class="chat-group">
                            <div class="author-thumb">
                                <img src="https://html.crumina.net/html-olympus/img/avatar11-sm.jpg" alt="author">
                                <img src="https://html.crumina.net/html-olympus/img/avatar12-sm.jpg" alt="author">
                                <img src="https://html.crumina.net/html-olympus/img/avatar13-sm.jpg" alt="author">
                                <img src="https://html.crumina.net/html-olympus/img/avatar10-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">You, Faye, Ed &amp; Jet +3</a>
                                <span class="last-message-author">Ed:</span>
                                <span class="chat-message-item">Yeah! Seems fine by me!</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 16th at 10:23am</time></span>
                            </div>
                            <span class="notification-icon">
                                                <svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                                            </span>
                            <div class="more">
                                <svg class="olymp-three-dots-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                </svg>
                            </div>
                        </li>
                    </ul>

                    <a href="#" class="view-all bg-purple">View All Messages</a>
                </div>

            </div>

            <div class="tab-pane " id="notification" role="tabpanel">

                <div class="mCustomScrollbar" data-mcs-theme="dark">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Notifications</h6>
                        <a href="#">Mark all as read</a>
                        <a href="#">Settings</a>
                    </div>

                    <ul class="notification-list">
                        <li>
                            <div class="author-thumb">
                                <img src="https://html.crumina.net/html-olympus/img/avatar62-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <div><a href="#" class="h6 notification-friend">Mathilda Brinker</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                            </div>
                            <span class="notification-icon">
                                                <svg class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
                                            </span>

                            <div class="more">
                                <svg class="olymp-three-dots-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                </svg>
                                <svg class="olymp-little-delete">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                                </svg>
                            </div>
                        </li>
                    </ul>

                    <a href="#" class="view-all bg-primary">View All Notifications</a>
                </div>

            </div>

            <div class="tab-pane" id="search" role="tabpanel">
                <form class="search-bar w-search notification-list friend-requests">
                    <div class="form-group with-button">
                        <input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
                    </div>
                </form>
            </div>

        </div>
        <!-- ... end  Tab panes -->

    </header>
    <div class="fixed-sidebar right fixed-sidebar-responsive">
        <div class="fixed-sidebar-right sidebar--small">
            <div class="fixed-sidebar fixed-sidebar-responsive">
                <div class="fixed-sidebar-left sidebar--small">
                    <a href="/profile?id={{ ctx.profile.getUserId() }}" class="logo" style="background-color: #38a9ff;">
                        <div class="img-wrap">
                            <img src="https://html.crumina.net/html-olympus/img/author-main1.jpg" alt="Dating Social Network" style="border-radius: 50%;">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ... end Responsive Header-BP -->
    <div class="header-spacer"></div>
    {% block profilecover %} {% endblock %}
    {% block container %} {% endblock %}
    <!-- Update-profile-avatar -->
    <div class="modal fade" id="update-profile-avatar" tabindex="-1" role="dialog" aria-labelledby="update-profile-avatar" aria-hidden="true">
            <div class="modal-dialog window-popup update-header-photo" role="document">
                <div class="modal-content">
                    <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                        <svg class="olymp-close-icon">
                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                        </svg>
                    </a>
                    <div class="modal-header">
                        <h6 class="title">Update Profile Avatar</h6>
                    </div>
                    <form action="/updateProfileAvatar" method="POST">
                        <div class="modal-body">
                            <label for="upload-cover" class="upload-photo-item" style="cursor: pointer; color: red;">
                                <i class="fa fa-upload"></i>
                                <h6>Upload Photo</h6>
                                <span>Browse your computer.</span>
                            </label>
                            <input type="file" name="cover" id="upload-cover" style="display:none;">
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <button class="btn btn-md-2 btn-border-think btn-transparent c-grey" style="color: white; background-color: #ff5e3a;" type="submit">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    <!-- end Update-profile-avatar -->
    <!-- Update-profile-cover -->
    <div class="modal fade" id="update-profile-cover" tabindex="-1" role="dialog" aria-labelledby="update-profile-cover" aria-hidden="true">
        <div class="modal-dialog window-popup update-header-photo" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                    </svg>
                </a>
                <div class="modal-header">
                    <h6 class="title">Update Profile Cover</h6>
                </div>
                <form action="/updateProfileCover" method="POST">
                    <div class="modal-body">
                        <label for="upload-cover" class="upload-photo-item" style="cursor: pointer; color: red;">
                            <i class="fa fa-upload"></i>
                            <h6>Upload Photo</h6>
                            <span>Browse your computer.</span>
                        </label>
                        <input type="file" name="cover" id="upload-cover" style="display:none;">
                        <div style="display: flex; align-items: center; justify-content: center;">
                            <button class="btn btn-md-2 btn-border-think btn-transparent c-grey" style="color: white; background-color: #ff5e3a;" type="submit">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end Update-profile-cover -->
    <a class="back-to-top" href="#">
        <img src="svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
    </a>
    <!-- JS Scripts -->
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/perfect-scrollbar.js"></script>
    <script src="js/jquery.matchHeight.js"></script>
    <script src="js/svgxuse.js"></script>
    <script src="js/imagesloaded.pkgd.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/velocity.js"></script>
    <script src="js/ScrollMagic.js"></script>
    <script src="js/jquery.waypoints.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/material.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/smooth-scroll.js"></script>
    <script src="js/selectize.js"></script>
    <script src="js/swiper.jquery.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/daterangepicker.js"></script>
    <script src="js/simplecalendar.js"></script>
    <script src="js/fullcalendar.js"></script>
    <script src="js/isotope.pkgd.js"></script>
    <script src="js/ajax-pagination.js"></script>
    <script src="js/Chart.js"></script>
    <script src="js/chartjs-plugin-deferred.js"></script>
    <script src="js/circle-progress.js"></script>
    <script src="js/loader.js"></script>
    <script src="js/run-chart.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/jquery.gifplayer.js"></script>
    <script src="js/mediaelement-and-player.js"></script>
    <script src="js/mediaelement-playlist-plugin.min.js"></script>
    <script src="js/base-init.js"></script>
    <script defer src="fonts/fontawesome-all.js"></script>
    <script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="js/ion.rangeSlider.js"></script>
</body>

</html>