{% extends 'masterpage.html' %}

{% block title %}
Notifications Page
{% endblock %}

{% block titleheader %}
Notifications Page
{% endblock %}

{% block container %}
<div class="container">
	<div class="row">
		<div class="col col-xl-2"></div>
		<div class="col col-xl-8 order-xl-12 col-lg-12 order-lg-12 col-md-12 order-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Notifications</h6>
					<a href="/markAllAsRead" style="display: inline-block; float: right; margin-left: 20px; text-transform: uppercase; font-size: 9px; padding: 0;">
						Mark all as read
					</a>
				</div>
				<ul class="notification-list">
					{% if notifications.length == 0 %}
					<li>You have no notifications</li>
					{% else %}
					{% for notification in notifications %}
					{% if notification.getNotificationStatus() == 'unread' %}
					<li style="background-color: #3f42573d;">
					{% else %}
					<li>
					{% endif %}
						<div class="author-thumb">
							{% if notification.getUserAvatar() == '/uploadedFiles/null' %}
							<img src="img/default-user.png" alt="author">
							{% else %}
							<img src="{{ notification.getUserAvatar() }}" alt="author">
							{% endif %}
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">{{ notification.getUserName() }}</a>
							{% if notification.getLikeId() %}
								liked on <a href="/post?id={{ notification.getLikeId() }}" class="notification-link">your post</a>
							{% elseif notification.getCommentId() %}
								commented on <a href="/post?id={{ notification.getCommentId() }}" class="notification-link">your post</a>
							{% elseif notification.getCommentId() %}
								shared on <a href="/post?id={{ notification.getPostShareId() }}" class="notification-link">your post</a>
							{% endif %}
							<span class="notification-date">
								<time class="entry-date updated">{{ notification.getNotificationTime() }}</time>
								{% if notification.getNotificationStatus() == 'unread' %}
									<a href="/markAsRead?id={{ notification.getNotificationId() }}">Read</a>
								{% endif %}
							</span>
						</div>
						<a onclick="deleteNotification({{ notification.getNotificationId() }});" style="cursor: pointer;">
							<div class="more">
								<svg class="olymp-little-delete">
									<use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use>
								</svg>
							</div>
						</a>
					</li>
					{% endfor %}
					{% endif %}
				</ul>
				<script>
    				function deleteNotification(number){
    					var answer = confirm("Do you want delete?")
						if (answer) {
    						window.location.href="/deleteNotification?id=" + number;
						}
					}
				</script>		
			</div>
		</div>
	</div>
</div>
{% endblock %}