{% extends 'masterpage.html' %}

{% block title %}
Share
{% endblock %}

{% block titleheader %}
Share
{% endblock %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12"></div>
        <div class="col col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">

                <article class="hentry post">
                    <div class="post__author author vcard inline-items">
                        <img src="https://html.crumina.net/html-olympus/img/author-page.jpg" alt="author">
                        <div class="author-date">
                            <a class="h6 post__author-name fn" href="/profile?id=1">{{ userShare.getPresentationName()}} <img src="http://azizanosman.com/imkk-mei2015/images/icon/facebook-verified-check-mark.png" style="width: 15px;height: auto;padding-bottom: 2%;"></a>
                        </div>
                    </div>

                    <form class="form-group with-icon-right is-empty" action="/postShare?id={{ post.getPostId() }}" method="POST">
                        <textarea class="form-control" required="" name="content"></textarea>

                        <article class="hentry post" style="border-bottom:none;">
                            <div class="post__author author vcard inline-items">
                                <img src="https://html.crumina.net/html-olympus/img/author-page.jpg" alt="author">
                                <div class="author-date">
                                    <a class="h6 post__author-name fn" href="/profile?id={{ post.getUserId() }}">{{ user.getPresentationName()}} <img src="http://azizanosman.com/imkk-mei2015/images/icon/facebook-verified-check-mark.png" style="width: 15px;height: auto;padding-bottom: 2%;"></a>
                                    <div class="post__date">
                                        <time class="published">
											{{ post.getPostTime() }}
                                        </time>
                                    </div>
                                </div>
                            </div>
                            <p>
								{{ post.getContent() }}
                            </p>

                        </article>

                        <div style="position: relative; padding-bottom: 25px;">
                            <button class="btn btn-md-2 btn-primary" style="position: absolute; right: 0%;" type="submit">Post Share</button>
                        </div>
                        <span class="material-input"></span></form>
                </article>
            </div>

        </div>
    </div>
</div>
{% endblock %}