{% extends 'masterpage.html' %}

{% block title %}
Post no {{ post.getPostId() }}
{% endblock %}

{% block titleheader %}
Post
{% endblock %}

{% block container %}
<div class="container">
	<div class="row">

		<!-- Main Content Post Versions -->

		<div class="col col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">

				<!-- Post -->
				
				<article class="hentry post">
				
						<div class="post__author author vcard inline-items">
							<img src="https://html.crumina.net/html-olympus/img/author-page.jpg" alt="author">
				
							<div class="author-date">
								<a class="h6 post__author-name fn" href="02-ProfilePage.html">James Spiegel</a>
								<div class="post__date">
									<time class="published" datetime="2017-03-24T18:18">
										19 hours ago
									</time>
								</div>
							</div>
				
							<div class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="#">Edit Post</a>
									</li>
									<li>
										<a href="#">Delete Post</a>
									</li>
									<li>
										<a href="#">Turn Off Notifications</a>
									</li>
									<li>
										<a href="#">Select as Featured</a>
									</li>
								</ul>
							</div>
				
						</div>
				
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
							mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							accusantium doloremque.
						</p>
				
						<div class="post-additional-info inline-items">
				
							<a href="#" class="post-add-icon inline-items">
								<svg class="fas fa-thumbs-up">
									<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
								</svg>
								<span>8</span>
							</a>
				
							<ul class="friends-harmonic">
								<li>
									<a href="#">
										<img src="https://html.crumina.net/html-olympus/img/friend-harmonic7.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="https://html.crumina.net/html-olympus/img/friend-harmonic8.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="https://html.crumina.net/html-olympus/img/friend-harmonic9.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="https://html.crumina.net/html-olympus/img/friend-harmonic10.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="https://html.crumina.net/html-olympus/img/friend-harmonic11.jpg" alt="friend">
									</a>
								</li>
							</ul>
				
							<div class="names-people-likes">
								<a href="#">Jenny</a>, <a href="#">Robert</a> and
								<br>6 more liked this
							</div>
				
				
							<div class="comments-shared">
								<a href="#" class="post-add-icon inline-items">
									<svg class="fas fa-comments">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
									</svg>
									<span>17</span>
								</a>
				
								<a href="#" class="post-add-icon inline-items">
									<svg class="fas fa-share">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use>
									</svg>
									<span>24</span>
								</a>
							</div>
				
				
						</div>
				
						
				
					</article>
				
				<!-- .. end Post -->
				
				<!-- Comments -->
				
				<ul class="comments-list">
					<li class="comment-item">
						<div class="post__author author vcard inline-items">
							<img src="https://html.crumina.net/html-olympus/img/avatar10-sm.jpg" alt="author">
				
							<div class="author-date">
								<a class="h6 post__author-name fn" href="#">Elaine Dreyfuss</a>
								<div class="post__date">
									<time class="published" datetime="2017-03-24T18:18">
										5 mins ago
									</time>
								</div>
							</div>
				
							<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				
						</div>
				
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
				
						<a href="#" class="post-add-icon inline-items">
							<svg class="fas fa-thumbs-up"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
							<span>8</span>
						</a>
					</li>
					
				<!-- Comment Form  -->
				
				<form class="comment-form inline-items">
				
					<div class="post__author author vcard inline-items">
						<img src="https://html.crumina.net/html-olympus/img/author-page.jpg" alt="author">
				
						<div class="form-group with-icon-right ">
							<textarea class="form-control" placeholder=""></textarea>
							<div class="add-options-message">
								<a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
									<svg class="fas fa-camera">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				
					<button class="btn btn-md-2 btn-primary">Post Comment</button>
				
					<button class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>
				
				</form>
				
				<!-- ... end Comment Form  -->
			</div>

		<!-- ... end Main Content Post Versions -->
		</div>

	</div>
</div>
{% endblock %}