{% extends 'masterpage.html' %}

{% block title %}
{{ user.getName() }}'s Profile
{% endblock %}

{% block titleheader %}
Profile
{% endblock %}

{% block profilecover %}
	{% include 'profilecover.html' %}
{% endblock %}

{% block container %}

<!-- Container-2 -->
<div class="container">
		<div class="row">
	
			<!-- Left Sidebar -->
	
			<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">
				<div class="ui-block">
					<div class="ui-block-title">
						<h6 class="title">Friends (86)</h6>
					</div>
					<div class="ui-block-content">
	
						<!-- W-Faved-Page -->
	
						<ul class="widget w-faved-page js-zoom-gallery">
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar38-sm.jpg" alt="author">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar24-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar36-sm.jpg" alt="author">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar35-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar34-sm.jpg" alt="author">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar33-sm.jpg" alt="author">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar32-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar31-sm.jpg" alt="author">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar30-sm.jpg" alt="author">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar29-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar28-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar27-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar26-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar25-sm.jpg" alt="user">
								</a>
							</li>
							<li class="all-users">
								<a href="#">+74</a>
							</li>
						</ul>
	
						<!-- .. end W-Faved-Page -->
					</div>
				</div>
			</div>
	
			<!-- ... end Left Sidebar -->



			<!-- Right Sidebar -->
	
			<div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
	
				<div class="ui-block">
					<div class="ui-block-title">
						<h6 class="title">Last Photos</h6>
					</div>
					<div class="ui-block-content">
	
						<!-- W-Latest-Photo -->
	
						<ul class="widget w-last-photo js-zoom-gallery">
							<li>
								<a href="img/last-photo10-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-photo10-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot11-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot11-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot12-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot12-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot13-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot13-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot14-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot14-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot15-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot15-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot16-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot16-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot17-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot17-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot18-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot18-large.jpg" alt="photo">
								</a>
							</li>
						</ul>
	
						<!-- .. end W-Latest-Photo -->
					</div>
				</div>
			</div>
	
			<!-- ... end Right Sidebar -->
			
			<!-- Main Content -->
	
			<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
				<div id="newsfeed-items-grid">
	
					<div class="ui-block">
						<!-- Post -->
	
						<article class="hentry post">
	
							<div class="post__author author vcard inline-items">
								<img src="https://html.crumina.net/html-olympus/img/author-page.jpg" alt="author">
	
								<div class="author-date">
									<a class="h6 post__author-name fn" href="02-ProfilePage.html">James Spiegel</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											19 hours ago
										</time>
									</div>
								</div>
	
								<div class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
									</svg>
									<ul class="more-dropdown">
										<li>
											<a href="#">Edit Post</a>
										</li>
										<li>
											<a href="#">Delete Post</a>
										</li>
										<li>
											<a href="#">Turn Off Notifications</a>
										</li>
										<li>
											<a href="#">Select as Featured</a>
										</li>
									</ul>
								</div>
	
							</div>
	
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
							</p>
							<div class="post-additional-info inline-items">
								<a href="#" class="post-add-icon inline-items">
									<i class="fas fa-thumbs-up"></i>
									<span>18</span>
								</a>
								<ul class="friends-harmonic">
									<li>
										<a href="#">
											<img src="https://html.crumina.net/html-olympus/img/friend-harmonic9.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="https://html.crumina.net/html-olympus/img/friend-harmonic10.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="https://html.crumina.net/html-olympus/img/friend-harmonic7.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="https://html.crumina.net/html-olympus/img/friend-harmonic8.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="https://html.crumina.net/html-olympus/img/friend-harmonic11.jpg" alt="friend">
										</a>
									</li>
								</ul>
								<div class="names-people-likes">
									<a href="#">Jenny</a>, <a href="#">Robert</a> and
									<br>18 more liked this
								</div>
								<div class="comments-shared">
									<a href="#" class="post-add-icon inline-items">
										<i class="fas fa-comments"></i>
										<span>0</span>
									</a>
									<a href="#" class="post-add-icon inline-items">
										<i class="fas fa-share"></i>
										<span>16</span>
									</a>
								</div>
							</div>
						</article>
						<!-- .. end Post -->
					</div>
				</div>
				<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
					<i class="fa fa-chevron-down"></i>
				</a>
			</div>
	
			<!-- ... end Main Content -->
	
		</div>
	</div>
<!-- End-Container-2 -->
{% endblock %}