{% extends 'masterpage.html' %}

{% block title %}
{{ user.getName() }}'s Profile
{% endblock %}

{% block titleheader %}
Profile
{% endblock %}

{% block profilecover %}
	{% include 'profilecover.html' %}
{% endblock %}

{% block container %}

<!-- Container-2 -->
<div class="container">
		<div class="row">
	
			<!-- Left Sidebar -->
	
			<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">
				<div class="ui-block">
					<div class="ui-block-title">
						<h6 class="title">Friends (86)</h6>
					</div>
					<div class="ui-block-content">
	
						<!-- W-Faved-Page -->
	
						<ul class="widget w-faved-page js-zoom-gallery">
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar38-sm.jpg" alt="author">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar24-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar36-sm.jpg" alt="author">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar35-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar34-sm.jpg" alt="author">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar33-sm.jpg" alt="author">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar32-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar31-sm.jpg" alt="author">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar30-sm.jpg" alt="author">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar29-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar28-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar27-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar26-sm.jpg" alt="user">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="https://html.crumina.net/html-olympus/img/avatar25-sm.jpg" alt="user">
								</a>
							</li>
							<li class="all-users">
								<a href="#">+74</a>
							</li>
						</ul>
	
						<!-- .. end W-Faved-Page -->
					</div>
				</div>
			</div>
	
			<!-- ... end Left Sidebar -->



			<!-- Right Sidebar -->
	
			<div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
	
				<div class="ui-block">
					<div class="ui-block-title">
						<h6 class="title">Last Photos</h6>
					</div>
					<div class="ui-block-content">
	
						<!-- W-Latest-Photo -->
	
						<ul class="widget w-last-photo js-zoom-gallery">
							<li>
								<a href="img/last-photo10-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-photo10-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot11-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot11-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot12-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot12-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot13-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot13-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot14-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot14-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot15-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot15-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot16-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot16-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot17-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot17-large.jpg" alt="photo">
								</a>
							</li>
							<li>
								<a href="img/last-phot18-large.jpg">
									<img src="https://html.crumina.net/html-olympus/img/last-phot18-large.jpg" alt="photo">
								</a>
							</li>
						</ul>
	
						<!-- .. end W-Latest-Photo -->
					</div>
				</div>
			</div>
	
			<!-- ... end Right Sidebar -->
			
			<!-- Main Content -->
	
			<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
				{% if posts %}  
				<div id="newsfeed-items-grid">
					{% for post in posts %}
					<div class="ui-block">
						<!-- Post -->
						<article class="hentry post">
							<div class="post__author author vcard inline-items">
								<img src="https://html.crumina.net/html-olympus/img/author-page.jpg" alt="author">
	
								<div class="author-date">
									<a class="h6 post__author-name fn" href="/profile?id={{ post.getUserId() }}">{{ user.getPresentationName()}} <img src="http://azizanosman.com/imkk-mei2015/images/icon/facebook-verified-check-mark.png" style="width: 15px;height: auto;padding-bottom: 2%;"></a>
									<div class="post__date">
										<a href="/post?id={{ post.getPostId() }}" style="color: #9697a1;"><time class="published" title="{{ post.getRawPostTime() }}">
											{{ post.getPostTime() }}
										</time></a>
									</div>
								</div>
	
								<div class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
									</svg>
									<ul class="more-dropdown">
										<li>
											<a href="/post?id={{ post.getPostId() }}&ref_page=editpost">Edit Post</a>
										</li>
										<li>
											<a href="/deletePost?id={{ post.getPostId() }}">Delete Post</a>
										</li>
									</ul>
								</div>
							</div>
							<p>
								{{ post.getContent() }}
							</p>
							{% if post.getPostShareId() %}
								{% for findshare in findshares %}
									{% if post.getPostShareId() == findshare.getPostId() %}
										<article class="hentry post">
											<div class="post__author author vcard inline-items">
												<img src="https://html.crumina.net/html-olympus/img/author-page.jpg" alt="author">
										
												<div class="author-date">
													<a class="h6 post__author-name fn" href="/profile?id={{ findshare.getUserId() }}">Share <img src="http://azizanosman.com/imkk-mei2015/images/icon/facebook-verified-check-mark.png" style="width: 15px;height: auto;padding-bottom: 2%;"></a>
													<div class="post__date">
														<a href="/post?id=6" style="color: #9697a1;">
															<time class="published" title="">
																{{ findshare.getPostTime() }}
															</time>
														</a>
													</div>
												</div>
											</div>
											<p>
												{{ findshare.getContent() }}
											</p>
										</article>
									{% endif%}
								{% endfor %}
							{% endif%}

							<div class="post-additional-info inline-items">
								<a href="post?id={{ post.getPostId() }}&ref_page=like" class="post-add-icon inline-items" >
									<i class="fas fa-thumbs-up"></i>
									<span>{{ post.getLikeCount() }}</span>
								</a>
								<div class="comments-shared">
									<a href="/post?id={{ post.getPostId() }}" class="post-add-icon inline-items">
										<i class="fas fa-comments"></i>
										<span>{{ post.getCommentCount() }}</span>
									</a>
									<a href="post?id={{ post.getPostId() }}&ref_page=share" class="post-add-icon inline-items">
										<i class="fas fa-share"></i>
										<span>{{ post.getShareCount() }}</span>
									</a>
								</div>
							</div>
						</article>
						<!-- .. end Post -->
					</div>
					{% endfor %} 
				</div>
				{% endif %}
				<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
					<i class="fa fa-chevron-down"></i>
				</a>
			</div>
	
			<!-- ... end Main Content -->
	
		</div>
	</div>
<!-- End-Container-2 -->
{% endblock %}