{% block profilecover %}
<!-- Container-1 -->
<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="https://html.crumina.net/html-olympus/img/top-header1.jpg" alt="nature">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href=" {{ user.getUserId() }} ">Timeline</a>
									</li>
									<li>
										<a href="/about/{{ user.getUserId() }} ">About</a>
									</li>
									<li>
										<a href="/friends/{{ user.getUserId() }} ">Friends</a>
									</li>
								</ul>
							</div>
							<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="/photos/{{ user.getUserId() }} ">Photos</a>
									</li>
									<li>
										<a href="/videos/{{ user.getUserId() }} ">Videos</a>
									</li>
									<li>
										<div class="more">
											<svg class="olymp-three-dots-icon">
												<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
											</svg>
											<!-- <ul class="more-dropdown more-with-triangle">
												<li>
													<a href="#">Report Profile</a>
												</li>
												<li>
													<a href="#">Block Profile</a>
												</li>
											</ul> -->
										</div>
									</li>
								</ul>
							</div>
						</div>
						{% if ctx.params.userid == ctx.session.loggedInUserId %}
						<div class="control-block-button">
							<div class="btn btn-control bg-primary more">
								<i class="fa fa-cog"></i>

								<ul class="more-dropdown more-with-triangle triangle-bottom-right">
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a>
									</li>
									<li>
										<a href="29-YourAccount-AccountSettings.html">Account Settings</a>
									</li>
								</ul>
							</div>
						</div>
						{% endif %}

					</div>
					<div class="top-header-author">
						<a href="/profile" class="author-thumb">
							<img src="https://html.crumina.net/html-olympus/img/author-main1.jpg" alt="author">
						</a>
						<div class="author-content">
							<a href="/profile" class="h4 author-name">{{ user.getPresentationName() }}</a>
							<div class="country">{{ user.getAddress() }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End-Container-1 -->
{% endblock %}