{% block profilecover %}
<!-- Container-1 -->
<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<div style="							
							background-size: cover;
							width: 100%;
							height: 423px;
							background: url('{{ user.getUserCover() }}') no-repeat;
							background-position: center;
						" alt="nature"></div>
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="/profile?id={{ user.getUserId() }} ">Timeline</a>
									</li>
									<li>
										<a href="/about?id={{ user.getUserId() }} ">About</a>
									</li>
									<li>
										<a href="/friends?id={{ user.getUserId() }} ">Friends</a>
									</li>
								</ul>
							</div>
							<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="/photos?id={{ user.getUserId() }} ">Photos</a>
									</li>
									<li>
										<a href="/videos?id={{ user.getUserId() }} ">Videos</a>
									</li>
									<li>
										<div class="more">
											<svg class="olymp-three-dots-icon">
												<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
											</svg>
											<ul class="more-dropdown more-with-triangle">
												<li>
													<a href="#" data-toggle="modal" data-target="#report-profile">Report Profile</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
						{% if ctx.query.id == ctx.session.loggedInUserId %}
						<div class="control-block-button">
							<div class="btn btn-control bg-primary more" style="color: white;">
								<i class="fa fa-cog"></i>

								<ul class="more-dropdown more-with-triangle triangle-bottom-right">
									<li>
										<a href="#" data-toggle="modal" data-target="#update-profile-avatar">Update Profile Avatar</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-target="#update-profile-cover">Update Profile Cover</a>
									</li>
								</ul>
							</div>
						</div>
						{% else %}
						<div class="control-block-button">
								{% if isFriend %}
									{% if isFriend.getFollowerStatus() == 'friend' %}
									<div class="btn btn-control bg-primary more" style="color: white; background-color: #38a8fe !important;">
										<i class="fa fa-user"></i>
										<ul class="more-dropdown more-with-triangle triangle-bottom-right">
											<li>
												<a href="friend?id={{ user.getUserId() }}&ref_page=cancel" data-toggle="" data-target="">Unfriend</a>
											</li>
										</ul>
									</div>
									{% elseif isFriend.getFollowerStatus() == 'pending' %}
										<div class="btn btn-control bg-primary more" style="color: white; background-color: #38a8fe !important;">
												<i class="fa fa-paper-plane"></i>
												<ul class="more-dropdown more-with-triangle triangle-bottom-right">
													<li>
														<a href="friend?id={{ user.getUserId() }}&ref_page=cancel" data-toggle="" data-target="">Cancel Friend Request</a>
													</li>
												</ul>
											</div>
										{% elseif isFriend.getFollowerStatus() == 'waiting' %}
										<div class="btn btn-control bg-primary more" style="color: white; background-color: #38a8fe !important;">
											<i class="fa fa-paper-plane"></i>
											<ul class="more-dropdown more-with-triangle triangle-bottom-right">
												<li>
													<a href="friend?id={{ user.getUserId() }}&ref_page=cancel" data-toggle="" data-target="">Cancel Friend Request</a>
												</li>
												<li>
													<a href="friend?id={{ user.getUserId() }}&ref_page=friendAccept" data-toggle="" data-target="">Accept Friend Request</a>
												</li>
											</ul>
										</div>
									{% endif %}
								{% else %}		
								<a href="friend?id={{ user.getUserId() }}&ref_page=friendRequest" class="btn btn-control bg-blue" title="Add Friend">
									<i class="fas fa-user-plus"></i>
								</a>	
								{% endif %}										
						</div>
						{% endif %}
					</div>
					<div class="top-header-author">
						<a href="/profile?id={{ user.getUserId()}}" class="author-thumb">
							{% if user.getExistAvatar() %}
							<div style="background: url('{{ user.getUserAvatar() }}') no-repeat; width: 100%; height: 132px; background-size: cover; background-position: center;" alt="author"></div>
							{% else %}
							<div style="background: url('{{ user.getDefaultAvatar() }}') no-repeat; width: 100%; height: 132px; background-size: cover; background-position: center;" alt="author"></div>
							{% endif %}
						</a>
						<div class="author-content">
							<a href="#" class="h4 author-name">{{ user.getPresentationName() }} <img src="http://azizanosman.com/imkk-mei2015/images/icon/facebook-verified-check-mark.png" style="width: 25px; height: auto; padding-bottom: 2%;"></a>
							<div class="country">{{ user.getAddress() }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End-Container-1 -->
{% endblock %}