{% extends 'masterpage.html' %}

{% block title %}
Search Page
{% endblock %}

{% block titleheader %}
Search Page
{% endblock %}

{% block container %}
<div class="container">
	<div class="row">
		<div class="col col-xl-2"></div>
		<div class="col col-xl-8 order-xl-12 col-lg-12 order-lg-12 col-md-12 order-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Searched</h6>
				</div>
				<ul class="notification-list friend-requests">
					{% if users.length %}
					{% for user in users %}
					<li>
						<div class="author-thumb">
							<img src="https://html.crumina.net/html-olympus/img/avatar15-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="profile?id={{ user.getUserId() }}" class="h6 notification-friend">{{ user.getPresentationName() }}</a>
						</div>
						{% if user.getUserId() == ctx.session.loggedInUserId %}
						{% else %}
						<span class="notification-icon">
							<a href="#" class="accept-request">
								<span class="">
									<svg class="fas fa-user-plus"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
								</span>
							</a>
							<a href="#" class="accept-request request-del">
								<span class="">
									<svg class="fas fa-user-times"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
								</span>
							</a>
						</span>
						{% endif %}
					</li>
					{% endfor %}
					{% else %}
					<li>No User Found</li>	
					{% endif %}
				</ul>				
			</div>
		</div>
	</div>
</div>
{% endblock %}