{% extends 'masterpage.html' %}

{% block title %}
Settings
{% endblock %}

{% block titleheader %}
Settings
{% endblock %}

{% block container %}
<!-- Your Account Personal Information -->
<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Personal Information</h6>
				</div>
				<div class="ui-block-content">
					<!-- Personal Information Form  -->
					<form action="/editSettings" method="POST">
						<div class="row">
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">First Name</label>
									<input class="form-control" type="text" value="{{ main_user.getFirstName() }}" name="first_name">
								</div>
					
								<div class="form-group label-floating">
									<label class="control-label">Your Email</label>
									<input class="form-control" type="email" value="{{ main_user.getEmail() }}" name="email">
								</div>
					
								<div class="form-group date-time-picker label-floating">
									<label class="control-label">Your Birthday</label>
									<input name="birth_date" type="date" value="{{ main_user.getBirthDate() }}"/>
									<span class="input-group-addon">
                                        <svg class="olymp-month-calendar-icon icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use></svg>
                                    </span>
								</div>

								<div class="form-group label-floating">
									<label class="control-label">Your Address</label>
									<input class="form-control" type="text" value="{{ main_user.getAddress() }}" name="address">
								</div>

							</div>
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">Last Name</label>
									<input class="form-control" type="text" value="{{ main_user.getLastName() }}" name="last_name">
								</div>
								<div class="form-group label-floating">
									<label class="control-label">Your Phone Number</label>
									<input class="form-control" type="number" value="{{ main_user.getPhoneNumber() }}" name="phone_number" min="1000000000" max="9999999999999">
								</div>
								<div class="form-group label-floating is-select">
									<label class="control-label">Your Gender</label>
									<select class="selectpicker form-control" name="gender">
											<option value="male" {% if main_user.getGender() == 'male' %}selected{% endif %}>Male</option>
											<option value="female" {% if main_user.getGender() == 'female' %}selected{% endif %}>Female</option>
									</select>
								</div>
								<div class="form-group label-floating is-select">
									<label class="control-label">Your Relationship</label>
									<select class="selectpicker form-control" name="relationship">
										<option value="1" {% if main_user.getRelationship() == '1' %}selected{% endif %}>Single</option>
										<option value="2" {% if main_user.getRelationship() == '2' %}selected{% endif %}>In a relationship</option>
										<option value="3" {% if main_user.getRelationship() == '3' %}selected{% endif %}>Engaged</option>
										<option value="4" {% if main_user.getRelationship() == '4' %}selected{% endif %}>Married</option>
										<option value="5" {% if main_user.getRelationship() == '5' %}selected{% endif %}>In a civil union</option>
										<option value="6" {% if main_user.getRelationship() == '6' %}selected{% endif %}>In a domestic partnership</option>
										<option value="7" {% if main_user.getRelationship() == '7' %}selected{% endif %}>In an open relationship</option>
										<option value="8" {% if main_user.getRelationship() == '8' %}selected{% endif %}>It's complicated</option>
										<option value="9" {% if main_user.getRelationship() == '9' %}selected{% endif %}>Separated</option>
										<option value="10" {% if main_user.getRelationship() == '10' %}selected{% endif %}>Divorced</option>
										<option value="11" {% if main_user.getRelationship() == '11' %}selected{% endif %}>Widowed</option>
									</select>
								</div>
							</div>
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<a href="/settings" class="btn btn-secondary btn-lg full-width">Restore all Attributes</a>
							</div>
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<button class="btn btn-primary btn-lg full-width" type="submit">Save</button>
							</div>
						</div>
					</form>
					
					<!-- ... end Personal Information Form  -->
				</div>
			</div>
		</div>

		<div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12  responsive-display-none">
			<div class="ui-block">

				
				
				<!-- Your Profile  -->
				
				<div class="your-profile">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Your PROFILE</h6>
					</div>
				
					<div id="accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<h6 class="mb-0">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Profile Settings
										<svg class="olymp-dropdown-arrow-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
									</a>
								</h6>
							</div>
				
							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<ul class="your-profile-menu">
									<li>
										<a href="28-YourAccount-PersonalInformation.html">Personal Information</a>
									</li>
									<li>
										<a href="29-YourAccount-AccountSettings.html">Account Settings</a>
									</li>
									<li>
										<a href="30-YourAccount-ChangePassword.html">Change Password</a>
									</li>
									<li>
										<a href="31-YourAccount-HobbiesAndInterests.html">Hobbies and Interests</a>
									</li>
									<li>
										<a href="32-YourAccount-EducationAndEmployement.html">Education and Employement</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<!-- ... end Your Profile  -->
				

			</div>
		</div>
	</div>
</div>
<!-- ... end Your Account Personal Information -->
{% endblock %}